@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body
{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
}

.container
{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1300px;
}
.subtitle
{
    
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 35px;
}

.head .container
{
    padding: 0;
 
}

.nav 
{
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 300;
}

.nav--footer
{
    font-weight: 300;
    justify-content: flex-start;
}
.menu_inicio__items
{
    color: #5b5858;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 25px;
    font-weight: inherit;
    color: #737070;
    border: 1px solid rgb(119, 118, 118);
    text-align: right;
    display: inline-flex;
    list-style-type: none;
    font-size: 15px;
}
.menu__items
{
    color: #0a0a0a;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 25px;
    font-weight: inherit;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    text-align: right;
    display: inline-flex;
    list-style-type: none;
    font-size: 15px;

}

.menu__items:hover
{
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.menu__items--fotter
{
    padding: 10px;
}
.menu__items_title
{
    color: #ffffff;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 800px;
   
}
.inicio__title
{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80ox 0;
    max-width: 1300px;
    background-color: white;
}
.inicio__subtitle
{ 
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80ox 0;
    max-width: 1300px;
    background-color: white;
}
.me
{
    min-height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;

}

.footer
{
    background-color: black;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1310px;

}

.me__texts
{
    font-size: 1.5rem;
    
}

.enviar__items
{
    font-size: 1.5rem;
    display: inline-block;
    background: black;
    padding:10px 15px;
    color: #ffffffd7;
    text-decoration: none;
    border-radius: 40px;
}